<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="angularScripts/angular.js"></script>
    <script type="text/javascript" src="angularScripts/angular-route.js"></script>
    <script src="angularScripts/angular-local-storage.js"></script>

    <script src="angularScripts/angular-cookies.js"></script>

    <script src="app.js"></script>
    <script type="text/javascript" src="app/services/restService.js"> </script>
    <script src="app/services/cookiesHandler.js"></script>

    <script type="text/javascript" src="./app/controllers/registerController.js"></script>
    <script src="app/controllers/loginController.js"></script>
    <script src="app/controllers/storeController.js"></script>

    <script type="text/javascript" src="app/models/UserModel.js"></script>
    <script type="text/javascript" src="app/models/UserModel.js"></script>
    <script src="app/models/ProductModel.js"></script>



    <!--<link rel="stylesheet" href="assets/css/mainStyle.css">-->
    <!--<base href="http://localhost:63342/WebApp/Client/" />-->
    <base href="./">
    <script src="app/services/cartFactory.js"></script>

</head>

<body >

<header><h1>E-commerce Site</h1></header>
<nav>
    <div ng-controller="mainController as mainCtrl">
        <div id="toolbar">
            <ul>
                <li><a ng-href="#/home" target="_self" ng-click="mainCtrl.checkRefresh()">Home</a></li>
                <li><a ng-href="#/about">About</a></li>
                <li><a ng-href="#/store">Store</a></li>
                <li ng-show="!mainCtrl.user.login"><a ng-href="#/register">Register</a></li>
                <li ng-show="!mainCtrl.user.login"><a ng-href="#/login">Login</a></li>
                <li class="right"><a ng-href="#/cart">Cart</a></li>
                <li ng-show="mainCtrl.user.login">Hello  {{mainCtrl.user.name}}, Last visit: {{mainCtrl.user.lastVisit}}</li>
                <li ng-show="mainCtrl.user.login"><button ng-click="mainCtrl.logout()">Logout</button></li>
                <li ng-click="mainCtrl.search()">Search Product <input type="text"></li>
            </ul>
        </div>
    </div>
</nav>

    <div id="contentPage">
        <!--<h1>Route pages content:</h1>-->
        <ng-view>
            blabalbalbal
        </ng-view>
    </div>

    <br>
    <br>
    <footer>
        E-commerce App <br> IP_2017 <br> &copy; Erez, Adir and Netanel <br> BGU
    </footer>
</body>
</html>