
<h2>Authors Page</h2>

<div ng-controller="authorsController as authorsCtrl">
    <button ng-click="authorsCtrl.getAllAuthors()">Get All Authors</button>

    <br>
    {{authorsCtrl.authors.length}}
    <table>
        <thead>
            <tr>
                <th><a href="" ng-click="authorsCtrl.fieldToOrderBy='authorID'; authorsCtrl.reverseSort = !authorsCtrl.reverseSort">AuthorID</a></th>
                <th><a href="" ng-click="authorsCtrl.fieldToOrderBy='firstName'; authorsCtrl.reverseSort = !authorsCtrl.reverseSort">First Name</a></th>
                <th><a href="" ng-click="authorsCtrl.fieldToOrderBy='lastName'; authorsCtrl.reverseSort = !authorsCtrl.reverseSort">Last Name</a></th>
            </tr>
        </thead>
        <tr ng-repeat="Author in authorsCtrl.authors | orderBy:authorsCtrl.fieldToOrderBy:authorsCtrl.reverseSort">
            <td>{{Author.authorID}}</td>
            <td>{{Author.firstName}}</td>
            <td>{{Author.lastName}}</td>
        </tr>
    </table>
</div>
