
<h2>Registration Page</h2>

<div ng-controller="registerController as regCtrl">
    {{regCtrl.registerVar}} <br> <br>

    <form name="regForm" ng-submit="regCtrl.register()" role="form" novalidate>
        ClientID :
        <input type="text"
               name="Id"
               ng-model="regCtrl.user.Id"
               class="form-control"
               placeholder="Your ID"
               ng-pattern="/^[0-9]{2,9}$/"
                required>
        <span ng-show="regForm.Id.$dirty && regForm.Id.$error.required" class="help-block">Field required</span>
        <span ng-show="regForm.Id.$dirty && regForm.Id.$error.pattern" class="help-block">Must contain only numbers</span>
        <br>
        First Name :
        <input type="text"
               ng-required="true"
               name="FirstName"
               ng-model="regCtrl.user.FirstName"
               class="form-control"
               placeholder="Full Name">
        <span ng-show="regForm.FirstName.$dirty && regForm.FirstName.$error.required" class="help-block">First name is required</span>
        <br>
        Last Name :
        <input type="text"
               ng-required="true"
               name="LastName"
               ng-model="regCtrl.user.LastName"
               class="form-control"
               placeholder="Full Name">
        <span ng-show="regForm.LastName.$dirty && regForm.LastName.$error.required" class="help-block">Last name is required</span>
        <br>
        Mail :
        <input type="email"
               ng-required="true"
               name="Email"
               ng-model="regCtrl.user.Mail"
               class="form-control"
               placeholder="Your Email">
        <span ng-show="regForm.Email.$dirty && regForm.Email.$error.email" class="help-block">Valid email is required</span>
        <span ng-show="regForm.Email.$dirty && regForm.Email.$error.required" class="help-block">Email is required</span>
        <br>
        Password :
        <input type="password"
               ng-required="true"
               name="Password"
               ng-model="regCtrl.user.Password"
               ng-minlength="3"
               ng-maxlength="5"
               class="form-control"
               placeholder="Your Password">
        <span ng-show="regForm.Password.$dirty && (regForm.Password.$error.minlength || regForm.Password.$error.maxlength)" class="help-block">Password must contain between 3 to 5 characters</span>
        <span ng-show="regForm.Password.$dirty && regForm.Password.$error.required" class="help-block">Password is required</span>
        <br>

        <div class="form-actions">
            <button type="submit" ng-disabled="regForm.$invalid" class="btn btn-primary">Register</button>
            <a href="" class="btn btn-link">Cancel</a>
        </div>

    </form>
</div>
